<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Message-App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary" (click)="toggleProfile()">Profile</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary" (click)="toggleSend()">Send Message</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary" (click)="toggleMessageBox()">See Message Boxes</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary" routerLinkActive="active" routerLink="/userlist">Manage Users</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary" routerLinkActive="active" routerLink="/messagelist">Manage Messages</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary" routerLinkActive="active" routerLink="/loglist">Observe Logs</button>
        </li>
      </ul>
      <span class="navbar-item">
        <button type="button" class="btn btn-secondary" (click)="onLogoutClick()">Logout</button>
      </span>
    </div>
  </div>
</nav>
<flash-messages></flash-messages>
<div class="user-operator">
  <app-profile style="display: none;"></app-profile>
  <app-save-message style="display: none;"></app-save-message>
  <app-messsage-box style="display: none;"></app-messsage-box>
</div>

