<div id="main-container" class="container" style="margin-top: 2rem;">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="drop()">
        Sort by
    </button>
    <ul class="menu" id="options" style="display: none; list-style-type: none;">
        <li><button class="btn btn-light btn-sm" style="margin-top: 0.1rem;" (click)="sortDate()">Date</button></li>
        <li><button class="btn btn-light btn-sm" style="margin-top: 0.1rem;" (click)="sortSender()">Sender</button></li>
        <li><button class="btn btn-light btn-sm" style="margin-top: 0.1rem;" (click)="sortReceiver()">Receiver</button></li>
    </ul>

    <div style="height: 0.4rem;"></div>
    <table class="table table-bordered">
        <thead class="table-info">
            <tr>
                <th class="col">From</th>
                <th class="col">To</th>
                <th class="col">Date</th>
                <th class="col" style="width: 15rem;">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let message of messageList; let i = index">
                <td>{{message.sender}}</td>
                <td>{{message.receiver}}</td>
                <td>{{message.date}}</td>
                <td style="display: flex; gap: 1rem">
                    <span>
                        <button type="button" class="btn btn-info btn-sm" (click)="onRead(message, i)">Read</button>
                    </span>
                    <span>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteMessage(message, i)">Delete</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="display: flex; justify-content: space-around;">
    <span routerLink='/admin'>
        <button type="button" class="btn btn-danger">Back To Main Page</button>
    </span>
    <div id="page-navigation" style="display: flex; justify-content:last baseline; gap: 0.5rem;">
        <span>
            <button type="button" class="btn btn-info" (click)="prevPage()">previous page</button>
        </span>
        <span>
            <button type="button" class="btn btn-info" (click)="nextPage()">next page</button>
        </span>
    </div>
</div>

<div id="custom-modal" style="display: none;">
    <div id="modal-content"></div>
    <div style="height: 1rem;"></div>
    <button type="button" class="btn btn-danger" id="modal-close" (click)="onCloseRead()">Close</button>
</div>
